<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <center>
            <div class="pill-nav">
        <a href="/profile">Profile</a>
        </div>
        </center>
    </head>
    <body>
        <center>
        <form action="/profile/assign" method="post">
        <label for="devorder">What is your device order [ PLEASE USE 1 FOR BETA]</label>
    <select id="devorder" name="devorder">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>

    </select>
<div>
    <label for="devname">Device name</label>
    <input type="text" name="devname" id="devname">
</div>
<div>
    <label for="port1">Analog port</label>
    <input type="text" name="port1" id="port1">
</div>
<div>
    <label for="port2">Digital port</label>
    <input type="text" name="port2" id="port2">
</div>
    <button>submit</button>

 


        </form>
        
        <script src="" async defer></script>
    </center>
    </body>
</html>