<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/feeder.css">

    </head>
    <body>
        <center>
        <div class="pill-nav">
           <a href="/profile">Profile</a>
          </div>
        <h1>I/O test</h1>
        <h1>อุปกรณ์หมายเลข : </h1>
        <h1><%= devorder %></h1>
        <h1>ชื่ออุปรณ์ : </h1>
        <h1><%= devname %></h1>
        <img src="https://media.discordapp.net/attachments/874945058036666388/971865981251117066/IMG_4639.png?width=1440&height=356" alt="">
        <script src="" async defer></script>
        <div>
            <form action="/profile/device1" method="get">
                <button>Refresh</button>
            </form>
            
        </div>
        <h2>Analog channel : </h2>
        <h2><%= port1val %></h2>
        <h2>Digital channel : </h2>
        <h2><%= port2val %></h2>
        <div>
            <form action="/profile/device1/ON" method="post">
                <button name="trig" value="ON">ON</button>
            </form>
        </div>
        <div>
            <form action="/profile/device1/OFF" method="post">
                <button name="trig" value="OFF">OFF</button>
            </form>
        </div>
    </center>
    </body>
</html>