<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/feeder.css">
       
        <div class="pill-nav">
            <a href="/profile">Profile</a>
            </div>
            
    </head>
    <body>
        
        
        <h1>I/O test</h1>
        <h2>อุปกรณ์หมายเลข : </h2>
        <h3><%= devorder %></h3>
        <h4>ชื่ออุปรณ์ : </h4>
        <h5><%= devname %></h5>
        <img src="https://media.discordapp.net/attachments/874945058036666388/971865981251117066/IMG_4639.png?width=1440&height=356" alt="" class="img_rsponsive">
        <script src="" async defer></script>
        <h5>Analog channel : </h5>
        <h5><%= port1val %></h5>
        <h5>Digital channel : </h5>
        <h5><%= port2val %></h5>
    
    </body>
</html>