<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

        <nav id="main-menu">
            <ul class="nav-bar">
                 <li class="nav-button-home"><a href="/">INDEX</a></li>
                 <li class="nav-button-services"><a href="/main">MAIN</a></li>
                 <li class="nav-button-products"><a href="/feeder">FEEDER</a></li>
            </ul>
       </nav>

</head>
<body>
  <center>
    <h1>สวัสดีนะ : <%=name%> ยินดีที่ได้รู้จัก </h1>  
<div style="display: inline-flex;">
    <h2>ถ้าหากอยากเรียนรู้เพิ่ม ช่วยกดสมัครตรงปุ่ม <a href="/reg"> Register </a>    </h2> 
    <h2>หน่อยนะ</h2>
</div>
   
<div style="display: inline-flex;" >
    <h2>หรือถ้ามี Account อยู่แล้ว กด <a href="login"> Login </a>     </h2> 
    <h2>ได้เลย</h2> 

</div>
    </center>

</body>
</html>