<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <a href="/">index</a>
    <a href="/main">main</a>
    <a href="/feeder">feeder</a>
</head>
<body>
  
    <h1>สวัสดีนะ : <%=name%> ยินดีที่ได้รู้จัก </h1>  
<div style="display: inline-flex;">
    <h2>ถ้าหากอยากเรียนรู้เพิ่ม ช่วยกดสมัครตรงปุ่ม    </h2>
    <a href="/reg">Register</a>
    <h2>หน่อยนะ</h2>
</div>
   
    <h1> </h1>
<div style="display: inline-flex;" >
    <h2>หรือถ้ามี Account อยู่แล้ว กด     </h2> 
    <a href="login">Login</a>
    <h2>ได้เลย</h2> 

</div>
    




    
</body>
</html>