<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/member.css">
    <center>
        <div class="pill-nav">
            <a href="/"> INDEX </a>
           </div>
   </center>
</head>
<body>
    <center>
    <h1> Member </h1>
    <h2> Panitan Kwankaew </h2>
    <h3> 1630900734 </h3>
    <img src="/image/T.jpg" style="width:400px;height: 400px;">
    <h2> Roungkaw Pormbut </h2>
    <h3> 1630900809 </h3>
    <img src="/image/D.jpg" style="width:400px;height: 400px;">
    <h2> Phanudet Manatsanit </h2>
    <h3> 1630900858 </h3>
    <img src="/image/B.jpg" style="width:400px;height: 400px;">



    
</center>
<script src="" async defer></script>
</body>
</html>