<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/member.css">
    <center>
    <nav id="main-menu">
        <ul class="nav-bar">
             <li class="nav-button-home"><a href="/">INDEX</a></li>
             <li class="nav-button-services"><a href="/main">MAIN</a></li>
        </ul>
   </nav>
   </center>
</head>
<body>
    <h1> Member </h1>


</body>
</html>