<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <center>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <a href="/profile">เราเปลี่ยนใจแล้ว เราอยากกลับไปหน้าที่แล้ว </a>
    </head>
    <body>
        <h1><%=username%> นายนะก็เปลี่ยนรูปโปรไฟล์ได้่นะ  </h1>
        <h2>รูปปัจจุบันของนาย</h2>
        <img src= <%= imglink %> >
        <form action="/profile/edit" method="post">
            <div>
                <label for="imglink">New Profile fmage link : </label>
                <input type="text" name="imglink" id="imglink">
            </div>
            <button>ยืนยัน</button>
           
    
    
    
    
        </form>
        <script src="" async defer></script>
    </body>
</html>