<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="profile.css">
        <center>
        <div class="pill-nav">
            <a href="/">เรากลัวแล้ว พาเรากลับหน้าหลัก</a>
            <a href="/profile/edit">เราอยากเปลี่ยน Profile image หน่ะ </a>
          </div> 
        </center>     
        </head>
    <body>
        <center>
            <img src= "<%= imglink %>" class="img_rsponsive" >

        <h1>ยินดีต้อนรับนะ : <%=username%></h1>
        <h2> อุปกรณ์ของคุณ </h2>
        <div class="BIG">
            <table>
                <tr>
                    <h3>Device : </h3>
                    <a class="" href="/profile/device1">ของใหญ่ 1</a>
                    <a href="/profile/assign">
                        <img src="https://media.discordapp.net/attachments/874945058036666388/972128153902411807/Engineering_28Civ629.webp" 
                        alt="" style="width:42px;height:42px;" ></a>
                </tr>

            </table>
        </div>
       

    
    </center>
    </body>
</html>