<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <a href="/">เรากลัวแล้ว พาเรากลับหน้าหลัก</a>
    </head>
    <body>
      
        <h1>ถ้านายยังไม่มี Account หล่ะก็สมัครเลยสิ !!!</h1>
        <form action="/reg" method="post">
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </div>

            <div>
                <label for="password">Password</label>
                <input type="text" name="password" id="password">
            </div>
            <button>ยืนยัน </button>
           




        </form>
        
        <script src="" async defer></script>
    </body>
</html>